<div class="description-block second-description">
  <h1>describ 1</h1>
  <p>{{content}}</p>

  <div class="images-row">
    {{#each images}}
      <img 
        src="{{url}}" 
        alt="{{alt}}" 
        class="project-image"
      >
    {{/each}}

    </br></br></br>
    
  </div>

</div>