<div class="description-block first-description">
  <h1>describ 0</h1>
  <p>{{content}}</p>

  {{#each images}}
    <img 
      src="{{url}}" 
      alt="{{alt}}" 
      class="project-image"
    >
  {{/each}}

  </br></br></br>

</div>