<article class="description-block description-1">
  <div class="description-grid">
    <div class="description-main">
      <p class="description-text">{{content}}</p>
    </div>

    <aside class="description-aside">
      {{#each images}}
        <figure class="description-image-item">
          <img src="{{url}}" alt="{{alt}}" class="project-image" />
          <figcaption>{{alt}}</figcaption>
        </figure>
      {{/each}}
    </aside>
  </div>
</article>