<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Portfolio</title>
    <link rel="stylesheet" href="/styles.css">
</head>

    <body>

        <header class="site-header">
        <a href="/">
            <img src="/images/home.png" alt="Home" />
        </a>
        <div class="welcome-text">Bienvenue sur mon portfolio&nbsp;!</div>
        {{#if project}}
            <div class="current-project">{{project.name}}</div>
        {{/if}}
    </header>
    
        {{{body}}}

        <footer class="site-footer">
            <div class="footer-content">
                mail : mattsachamahe@gmail.com
                <a class="footer-link" href="https://github.com/mayorie" target="_blank" rel="noopener noreferrer" title="Voir GitHub">
                    <img src="/images/footer/github_logo.png" alt="GitHub" class="footer-icon" />
                </a>
                <a class="footer-link" href="https://linkedin.com/in/mattsachamahe" target="_blank" rel="noopener noreferrer" title="Voir LinkedIn">
                    <img src="/images/footer/Linkedin_logo.png" alt="LinkedIn" class="footer-icon" />
                </a>
            </div>
        </footer>
    
    </body>

</html>
